In [1]:
reg = input()

KA03NJ6795

In [2]:
reg[0:2]

'KA'

In [3]:
reg[::-1]

'5976JN30AK'

In [4]:
reg[1:2:2]

'A'

In [5]:
reg[1:2:]

'A'

In [10]:
reg[0:3:2]

'K0'

In [12]:
reg[0:5:2]

'K0N'

In [13]:
reg[5:3:-1]

'JN'

In [17]:
reg[:-4]

'KA03NJ'

In [18]:
reg[-4:]

'6795'

In [22]:
num = int(input())

12345

In [43]:
num =12345
sum1 = 0

print(sum1)

0

In [28]:
num%10

5

In [30]:
num//10

1234

In [44]:
while(num>0):
    print(sum1)
    sum1 +=num%10
    num=num//10
    print(num)

0
1234
5
123
9
12
12
1
14
0

In [45]:
sum1

15

In [70]:
from datetime import date
import time

In [95]:
def myDateLog(func):
    def innerFunc(*args,**kwargs):
        print(date.today())
        return func(*args,**kwargs)
    return innerFunc

In [94]:
def myTimeLog(func):
    def innerFunc(*args,**kwargs):
        start = time.time()
        retval = func(*args,**kwargs)
        end =time.time()
        print(end-start)
        return retval
    return innerFunc

In [96]:
@myDateLog
@myTimeLog
def myAddFunc(a,b):
    return a+b

In [97]:
myAddFunc(2,3)

2022-12-16
9.5367431640625e-07

5

In [98]:
@myDateLog
@myTimeLog
def myListLength(ls):
    return list(map(len, ls))

In [100]:
print(myListLength(['sr','iani']))

2022-12-16
5.9604644775390625e-06
[2, 4]

In [91]:

list(map(len, ['sr','iani']
   ))

[2, 4]

In [101]:
number_list = [10,20,60,30,20,40,30,60,70,80]

In [104]:
[i  for i in number_list if i > 50]

[60, 60, 70, 80]

In [106]:
list(filter(lambda a : a <=50, number_list))

[10, 20, 30, 20, 40, 30]

In [109]:
sample_list = [10,20,60,30,20,40,30,60,70,80]
myDict = {}

for i in sample_list:
    if(myDict.get(i) == None):
        myDict[i] = 1
    else:
        myDict[i] = myDict[i]+1

In [111]:
myDict

{10: 1, 20: 2, 60: 2, 30: 2, 40: 1, 70: 1, 80: 1}

In [119]:
for item in myDict:
    if myDict[item] > 1:
        print(item, end = " ")

20 60 30

In [131]:
@myDateLog
@myTimeLog
def outerFunc(firstName : str , secondName : str ):
    def innerFunc(firstName : str , secondName : str):
        print(firstName)
        return firstName + secondName
    return innerFunc(firstName , secondName ) + 'developer'

In [132]:
outerFunc('Emma','Kelly')

2022-12-18
Emma
0.00010609626770019531

'EmmaKellydeveloper'

In [134]:
@myDateLog
@myTimeLog
def outerFunc(firstName : str , secondName : str ):
    def innerFunc():
        print(firstName)
        return firstName + secondName
    return innerFunc( ) + 'developer'

In [135]:
outerFunc('Emma','Kelly')

2022-12-18
Emma
1.52587890625e-05

'EmmaKellydeveloper'

## Flattening of lists - but this only does it to one level ##
How do we flatten a list of list of list .... etc

In [139]:
import itertools

Nested_list = [[1,2,3,4,5], [6,7,8], [9, 10]]

flattened_list = list(itertools.chain(*Nested_list))
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [136]:
import itertools

Nested_list = [[1,2,3,4,5], [6,7,8], [9, 10], [[11,12]]]

flattened_list = list(itertools.chain(*Nested_list))
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [138]:
from functools import reduce

Nested_list = [[1,2,3,4,5], [6,7,8], [9, 10] , [[11,12]]]
print(reduce(lambda a, b: a+b, Nested_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [141]:
Nested_list = [[1,2,3,4,5], [6,7,8], [9, 10]]
flattend_list = [item for sublist in Nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

https://www.freecodecamp.org/news/list-comprehension-in-python-with-code-examples/

In [148]:
new_list = [num for num in range(50) if num > 20 and num % 5 ==0]

In [149]:
print(new_list)

[25, 30, 35, 40, 45]

Remove duplicates , list comprehensions example below

    https://www.geeksforgeeks.org/python-ways-to-remove-duplicates-from-list/

In [151]:
l1 = [1,2,3,4,1,2,4]
res = [*set(l1)]
print(res)

[1, 2, 3, 4]

In [154]:
l1

[1, 2, 3, 4, 1, 2, 4]

In [172]:
res = []
[res.append(x) for x in l1 if x not in res]

[None, None, None, None]

In [173]:
print(str(a))

[None, None, None, None]

Why None as an output

In [170]:
retval = []
for i in l1:
    if i not in retval : 
        retval.append(i)

print(retval)

[1, 2, 3, 4]

In [159]:
enumerate(l1)

In [161]:
print(list(enumerate(l1)))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 1), (5, 2), (6, 4)]

In [162]:
l1[:7]

[1, 2, 3, 4, 1, 2, 4]

In [163]:
l1[:3]

[1, 2, 3]

In [168]:
for count,num in enumerate(l1):
    print(str(count) + " "+ str(num))

0 1
1 2
2 3
3 4
4 1
5 2
6 4

In [169]:
for c,n in enumerate(l1):
    print(str(c) + " "+ str(n))

0 1
1 2
2 3
3 4
4 1
5 2
6 4

Print the sum of the previous and current number

In [178]:
s = 0
pre = 0
for i in range(1,11):
    print("sum of current number " + str(i) + " and previous number "+ str(pre) + " is " + str(i + pre) )
    pre = i

sum of current number 1 and previous number 0 is 1
sum of current number 2 and previous number 1 is 3
sum of current number 3 and previous number 2 is 5
sum of current number 4 and previous number 3 is 7
sum of current number 5 and previous number 4 is 9
sum of current number 6 and previous number 5 is 11
sum of current number 7 and previous number 6 is 13
sum of current number 8 and previous number 7 is 15
sum of current number 9 and previous number 8 is 17
sum of current number 10 and previous number 9 is 19

In [180]:
s = 0 
pre = 0 
for i in range(1,10):
    s = i + pre
    print(f"Current Number {i} Previous Number {pre} Sum: {s}" )
    pre = i

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

In [181]:
[ print(i) for n, i in enumerate("Animesh") if n % 2 == 0]

A
i
e
h

[None, None, None, None]