In [1]:
reg = input()

KA03NJ6795

In [2]:
reg[0:2]

'KA'

In [3]:
reg[::-1]

'5976JN30AK'

In [4]:
reg[1:2:2]

'A'

In [5]:
reg[1:2:]

'A'

In [10]:
reg[0:3:2]

'K0'

In [12]:
reg[0:5:2]

'K0N'

In [13]:
reg[5:3:-1]

'JN'

In [17]:
reg[:-4]

'KA03NJ'

In [18]:
reg[-4:]

'6795'

In [22]:
num = int(input())

12345

In [43]:
num =12345
sum1 = 0

print(sum1)

0

In [28]:
num%10

5

In [30]:
num//10

1234

In [44]:
while(num>0):
    print(sum1)
    sum1 +=num%10
    num=num//10
    print(num)

0
1234
5
123
9
12
12
1
14
0

In [45]:
sum1

15

In [70]:
from datetime import date
import time

In [95]:
def myDateLog(func):
    def innerFunc(*args,**kwargs):
        print(date.today())
        return func(*args,**kwargs)
    return innerFunc

In [94]:
def myTimeLog(func):
    def innerFunc(*args,**kwargs):
        start = time.time()
        retval = func(*args,**kwargs)
        end =time.time()
        print(end-start)
        return retval
    return innerFunc

In [96]:
@myDateLog
@myTimeLog
def myAddFunc(a,b):
    return a+b

In [97]:
myAddFunc(2,3)

2022-12-16
9.5367431640625e-07

5

In [98]:
@myDateLog
@myTimeLog
def myListLength(ls):
    return list(map(len, ls))

In [100]:
print(myListLength(['sr','iani']))

2022-12-16
5.9604644775390625e-06
[2, 4]

In [91]:

list(map(len, ['sr','iani']
   ))

[2, 4]

In [101]:
number_list = [10,20,60,30,20,40,30,60,70,80]

In [104]:
[i  for i in number_list if i > 50]

[60, 60, 70, 80]

In [106]:
list(filter(lambda a : a <=50, number_list))

[10, 20, 30, 20, 40, 30]

In [109]:
sample_list = [10,20,60,30,20,40,30,60,70,80]
myDict = {}

for i in sample_list:
    if(myDict.get(i) == None):
        myDict[i] = 1
    else:
        myDict[i] = myDict[i]+1

In [111]:
myDict

{10: 1, 20: 2, 60: 2, 30: 2, 40: 1, 70: 1, 80: 1}

In [119]:
for item in myDict:
    if myDict[item] > 1:
        print(item, end = " ")

20 60 30

In [131]:
@myDateLog
@myTimeLog
def outerFunc(firstName : str , secondName : str ):
    def innerFunc(firstName : str , secondName : str):
        print(firstName)
        return firstName + secondName
    return innerFunc(firstName , secondName ) + 'developer'

In [132]:
outerFunc('Emma','Kelly')

2022-12-18
Emma
0.00010609626770019531

'EmmaKellydeveloper'

In [134]:
@myDateLog
@myTimeLog
def outerFunc(firstName : str , secondName : str ):
    def innerFunc():
        print(firstName)
        return firstName + secondName
    return innerFunc( ) + 'developer'

In [135]:
outerFunc('Emma','Kelly')

2022-12-18
Emma
1.52587890625e-05

'EmmaKellydeveloper'

## Flattening of lists - but this only does it to one level ##
How do we flatten a list of list of list .... etc

In [139]:
import itertools

Nested_list = [[1,2,3,4,5], [6,7,8], [9, 10]]

flattened_list = list(itertools.chain(*Nested_list))
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [136]:
import itertools

Nested_list = [[1,2,3,4,5], [6,7,8], [9, 10], [[11,12]]]

flattened_list = list(itertools.chain(*Nested_list))
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [138]:
from functools import reduce

Nested_list = [[1,2,3,4,5], [6,7,8], [9, 10] , [[11,12]]]
print(reduce(lambda a, b: a+b, Nested_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [141]:
Nested_list = [[1,2,3,4,5], [6,7,8], [9, 10]]
flattend_list = [item for sublist in Nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

https://www.freecodecamp.org/news/list-comprehension-in-python-with-code-examples/

In [148]:
new_list = [num for num in range(50) if num > 20 and num % 5 ==0]

In [149]:
print(new_list)

[25, 30, 35, 40, 45]

Remove duplicates , list comprehensions example below

    https://www.geeksforgeeks.org/python-ways-to-remove-duplicates-from-list/

In [151]:
l1 = [1,2,3,4,1,2,4]
res = [*set(l1)]
print(res)

[1, 2, 3, 4]

In [154]:
l1

[1, 2, 3, 4, 1, 2, 4]

In [184]:
res = []
[res.append(x) for x in l1 if x not in res]

[None, None, None, None]

In [173]:
print(str(a))

[None, None, None, None]

Why None as an output

In [170]:
retval = []
for i in l1:
    if i not in retval : 
        retval.append(i)

print(retval)

[1, 2, 3, 4]

In [159]:
enumerate(l1)

In [161]:
print(list(enumerate(l1)))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 1), (5, 2), (6, 4)]

In [162]:
l1[:7]

[1, 2, 3, 4, 1, 2, 4]

In [163]:
l1[:3]

[1, 2, 3]

In [168]:
for count,num in enumerate(l1):
    print(str(count) + " "+ str(num))

0 1
1 2
2 3
3 4
4 1
5 2
6 4

In [169]:
for c,n in enumerate(l1):
    print(str(c) + " "+ str(n))

0 1
1 2
2 3
3 4
4 1
5 2
6 4

Print the sum of the previous and current number

In [178]:
s = 0
pre = 0
for i in range(1,11):
    print("sum of current number " + str(i) + " and previous number "+ str(pre) + " is " + str(i + pre) )
    pre = i

sum of current number 1 and previous number 0 is 1
sum of current number 2 and previous number 1 is 3
sum of current number 3 and previous number 2 is 5
sum of current number 4 and previous number 3 is 7
sum of current number 5 and previous number 4 is 9
sum of current number 6 and previous number 5 is 11
sum of current number 7 and previous number 6 is 13
sum of current number 8 and previous number 7 is 15
sum of current number 9 and previous number 8 is 17
sum of current number 10 and previous number 9 is 19

In [180]:
s = 0 
pre = 0 
for i in range(1,10):
    s = i + pre
    print(f"Current Number {i} Previous Number {pre} Sum: {s}" )
    pre = i

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

In [185]:
[ print(i , end = " ") for n, i in enumerate("Animesh") if n % 2 == 0]

A i e h

[None, None, None, None]

In [4]:
st = "Animesh"
for i in range(0,len(st),2):
    print(st[i] , end = " ")

A i e h

Print multiplication of tables from 1 to 10

In [5]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end = " " )
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [7]:
sample_list = [87,45,41,65,94,41,99,94]

In [8]:
res = []
for i in sample_list:
    if i not in res :
        res.append(i)

In [9]:
print(res)

[87, 45, 41, 65, 94, 99]

In [13]:
t = tuple(res)
print(type(res))

<class 'list'>

In [12]:
print(type(t))

<class 'tuple'>

In [14]:
max(t)

99

In [15]:
min(t)

41

In [17]:
h = lambda x : x + 16

In [18]:
list(map(h , sample_list))

[103, 61, 57, 81, 110, 57, 115, 110]

Sort a list of tuples using lambda

In [46]:
tup =[('for', 24), ('is', 10), ('Geeks', 28),
      ('Geeksforgeeks', 5), ('portal', 20), ('a', 15)]

In [44]:
tup.sort(key = lambda x : x[1])

In [45]:
tup

[('Geeksforgeeks', 5),
 ('is', 10),
 ('a', 15),
 ('portal', 20),
 ('for', 24),
 ('Geeks', 28)]

In [49]:
sorted(tup , key = lambda x : x[1], reverse = False)

[('Geeksforgeeks', 5),
 ('is', 10),
 ('a', 15),
 ('portal', 20),
 ('for', 24),
 ('Geeks', 28)]

Difference between sort and sorted - sort is inplace and sorted is new list

## Bubble Sort ##

In [22]:
arr = [12,4,5,2]
l = len(arr)
for i in range(0,l):
    for j in range(0,l-i-1):
        if(arr[j] > arr[j+1]):
            temp  = arr[j+1]
            arr[j+1] = arr[j]
            arr[j] = temp

In [23]:
print(arr)

[2, 4, 5, 12]

In [25]:
lst = len(tup)

for i in range(0,lst):
    for j in range(0,lst-i-1):
        if(tup[j][1] > tup[j+1][1]):
            temp = tup[j]
            tup[j] = tup[j+1]
            tup[j+1]= temp

In [26]:
print(tup)

[('Geeksforgeeks', 5), ('is', 10), ('a', 15), ('portal', 20), ('for', 24), ('Geeks', 28)]

In [34]:
jj = lambda x : x % 2 ==0

In [36]:
list(map( jj, [1,2,3,4,6]))

[False, True, False, True, True]

In [37]:
sum(list(map( jj, [1,2,3,4,6])))

3

In [51]:
list(filter(lambda x : x%2 == 0 , [1,2,3]))

[2]

Extract. year date month time using lambda

In [38]:
import datetime

In [39]:
now = datetime.datetime.now()

In [40]:
print(now)

2022-12-20 15:43:36.037175

In [43]:
year = lambda x : x.year
month = lambda x : x.month
day = lambda x : x.day
t = lambda x: x.time()

print(year(now))
print(month(now))
print(day(now))
print(t(now))

2022
12
20
15:43:36.037175

In [53]:
sum([1,2.2,4,5])

12.2

In [54]:
def test(s : str):
    return str(s).upper(), str(s).lower()

In [55]:
test("a")

('A', 'a')

In [56]:
dir()

['In',
 'Out',
 '_',
 '_14',
 '_15',
 '_16',
 '_18',
 '_32',
 '_33',
 '_35',
 '_36',
 '_37',
 '_45',
 '_48',
 '_49',
 '_50',
 '_51',
 '_52',
 '_53',
 '_55',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'arr',
 'datetime',
 'day',
 'exit',
 'get_ipython',
 'h',
 'i',
 'j',
 'jj',
 'l',
 'lst',
 'month',
 'now',
 'quit',
 'res',
 'sample_list',
 'st',
 't',
 'temp',
 'test',
 'tup',
 'year']

Decorator practice

In [57]:
def star(func):
    def inner_star(*args, **kwargs):
        print("*" * 30)
        func(*args, **kwargs)
        print("*" * 30)
    return inner_star

def percent(func):
    def inner_percent(*args, ** kwargs):
        print("%" * 30)
        func(*args, **kwargs)
        print("%" * 30)
    return inner_percent

In [60]:
@star
@percent
def printer(msg : str):
    print(msg)

In [62]:
printer("Hello ! Animesh")

******************************
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Hello ! Animesh
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
******************************

## star ( percent ( printer )) ## is the sequence of calling

In [63]:
star(percent(printer("Hello")))

******************************
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Hello
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
******************************

In [64]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [66]:
import random
random.randint(1, 500)

127

In [69]:
r_list = random.sample(range(1, 1000) ,500)

In [74]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [76]:
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [77]:
s.split(" ")

['this',
 'is',
 'My',
 'First',
 'Python',
 'programming',
 'class',
 'and',
 'i',
 'am',
 'learNING',
 'python',
 'string',
 'and',
 'its',
 'function']

In [78]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [80]:
s.expandtabs(3)

'this is My First Python programming class and i am learNING python string and its function'

In [81]:
s.replace("this", "anim")

'anim is My First Python programming class and i am learNING python string and its function'

In [86]:
"animesh".center(20,"*")

'******animesh*******'

In [87]:
for i in range(5):
    print("Animesh " * i, end = " ")
    print()

Animesh
Animesh Animesh
Animesh Animesh Animesh
Animesh Animesh Animesh Animesh

In [88]:
n = 1
while(n < 5):
    print("*" * n , end = " " )
    print()
    n += 1

*
**
***
****

## Finding the pivot in sorted array ##

In [152]:
#nums = [4,5,6,7,1,2]
nums = [5,6,1,2,3,4]
left , right = 0 , len(nums) - 1
pivot = 0 
while left <= right :
    pivot = (left + right ) // 2
    print(f"pivot calculation {left} {right} {pivot}")
    if( nums[pivot] > nums[pivot+1] ):
        pivot +=1
        print("inside break")
        break
    else:
        if nums[pivot] > nums[right]:
            left = pivot + 1
            print(f"Condition 1 : {left} {right} {pivot}")
        else: 
            right = pivot - 1
            print(f"Condition 2 : {left} {right} {pivot}" )


#print(mid)
#pivot = mid + 1
print(f"Pivot is at {pivot} and element at pivot is {nums[pivot]}")
print("First array is" )
print(nums[0:pivot+1])
# for i in range(0 , pivot+1):
#       print(nums[i] , end = " ")
print()
print("Second array is" )
print(nums[pivot:len(nums)])
# for i in range(pivot+1 , len(nums)):
#       print(nums[i], end = " ")

pivot calculation 0 5 2
Condition 2 : 0 1 2
pivot calculation 0 1 0
Condition 2 : 0 -1 0
Pivot is at 0 and element at pivot is 5
First array is
[5]

Second array is
[5, 6, 1, 2, 3, 4]

In [123]:
print(mid + 1)

1

In [145]:
nums[2:3]

[1]

In [137]:
nums[0:2]

[5, 6]

In [156]:
#nums = [4,5,6,7,1]
#nums = [5,6,1,2,3,4]
nums = [4,5,6,7,0,1,2]

left , right = 0 , len(nums) - 1

while left <= right :
    mid = (left + right ) // 2
    print(f"mid calculation {left} {right} {mid}")
    if( nums[mid] > nums[mid+1] ):
        pivot  = mid + 1
        break
    else:
        if nums[mid] < nums[left]:
            right = mid - 1
            print(f"Condition 1 : {left} {right} {mid}")
        else: 
            left = mid + 1
            print(f"Condition 2 : {left} {right} {mid}" )

print(f"Pivot is at {pivot} and element at pivot is {nums[pivot]}")
print("First array is" )
for i in range(0 , pivot):
      print(nums[i] , end = " ")
print()
print("Second array is" )
for i in range(pivot , len(nums)):
      print(nums[i], end = " ")

mid calculation 0 6 3
Pivot is at 4 and element at pivot is 0
First array is
4 5 6 7
Second array is
0 1 2